In [2]:
import pandas as pd
from google.colab import drive
import os
drive.mount('/content/gdrive', force_remount=True)
path = 'gdrive/My Drive/pandas/vendas.xlsx'

vendas_df = pd.read_excel(f'{path}')
display(vendas_df.describe())

Mounted at /content/gdrive

       C칩digo Venda    Quantidade  Valor Unit치rio   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

In [ ]:
produto = vendas_df[['Produto', 'Quantidade']]
display(produto)

               Produto  Quantidade
0       Sunga Listrado           5
1      Casaco Listrado           1
2      Sapato Listrado           2
3               Casaco           1
4           Gorro Liso           3
...                ...         ...
7084    Short Listrado           2
7085           Mochila           4
7086  Pulseira Estampa           1
7087   Camisa Listrado           1
7088       Short Linho           2

[7089 rows x 2 columns]

In [ ]:
# PEgar uma/varias linhas
display(vendas_df.loc[1:10])

# Pega linhas que correspondem uma unica maneira
vendas_shopping = display(vendas_df.loc[vendas_df['ID Loja'] == 'Shopping Morumbi'])
display(vendas_shopping)

# Pegar varias linhas e colunas usando o loc
vendas_shopping = display(vendas_df.loc[vendas_df['ID Loja'] == 'Shopping Morumbi'], ['ID Loja', 'Produto', 'Quantidade'])
display(vendas_shopping)


# Pega linha e valor especifico
print(vendas_df.loc[1, 'Produto'])

Casaco Listrado

In [ ]:
# Adicionar coluna a partir de uma existente
vendas_df['Comiss칚o'] = vendas_df['Valor Final'] * 0.05
display(vendas_df)

# Cria coluna a com valor padr칚o
vendas_df.loc[:, 'Imposto'] = 0
display(vendas_df)

In [5]:
path_dez = 'gdrive/My Drive/pandas/vendas-dez.xlsx'
vendas_dez_df = pd.read_excel(f'{path_dez}')
vendas_df = vendas_df.append(vendas_dez_df) # adicionar valor uma planilia pra outra 
vendas_df.loc[:, 'Imposto'] = 0
vendas_df.loc[:, ['Comiss칚o']] = vendas_df['Valor Final'] * 0.05
display(vendas_df)

      C칩digo Venda       Data  ... Valor Unit치rio Valor Final
0                1 2019-01-01  ...            358         358
1                1 2019-01-01  ...            180         360
2                1 2019-01-01  ...            368         368
3                2 2019-01-02  ...            200         600
4                2 2019-01-02  ...             71          71
...            ...        ...  ...            ...         ...
7084         69996 2019-12-26  ...            102         204
7085         69996 2019-12-26  ...            270        1080
7086         69996 2019-12-26  ...             87          87
7087         69997 2019-12-26  ...            108         108
7088         69997 2019-12-26  ...            133         266

[115177 rows x 7 columns]

In [ ]:
# Excluir coluna e linha
vendas_df = vendas_df.drop('Imposto', axis=1) # 1 para coluna e 0 para linha 
display(vendas_df)

         C칩digo Venda                 Data  ... Valor Final Comiss칚o
0                   1  2019-01-01 00:00:00  ...         358    17.90
1                   1  2019-01-01 00:00:00  ...         360    18.00
2                   1  2019-01-01 00:00:00  ...         368    18.40
3                   2  2019-01-02 00:00:00  ...         600    30.00
4                   2  2019-01-02 00:00:00  ...          71     3.55
...               ...                  ...  ...         ...      ...
7085            69996  2019-12-26 00:00:00  ...        1080    54.00
7086            69996  2019-12-26 00:00:00  ...          87     4.35
7087            69997  2019-12-26 00:00:00  ...         108     5.40
7088            69997  2019-12-26 00:00:00  ...         266    13.30
Imposto             0                    0  ...           0     0.00

[101000 rows x 8 columns]

In [ ]:
# Deletar linhas e colunas que est칚o vazias
vendas_df = vendas_df.dropna(how='all', axis=)

# excluir linhas que possuem pelo menos  valor vazio 
vendas_df = vendas_df.dropna()

# preencher valores vazios
# preencher com a media da coluna
vendas_df['Comiss칚o'] = vendas_df['Comiss칚o'].fillna(vendas_df['Comiss칚o'].mean())
display(vendas_df)

# preencher ultimo valor
vendas_df = vendas_df.ffill()

In [10]:
# Value conts = soma os valores igual em uma coluna
trasnsacoes_loja = vendas_df['ID Loja'].value_counts()
#display(trasnsacoes_loja)

# gruop by
faturamento_produto = vendas_df[['Produto', 'Valor Final']].groupby('Produto').mean()
display(faturamento_produto)

                  Valor Final
Produto
Bermuda            325.078864
Bermuda Estampa    365.415556
Bermuda Linho      428.625000
Bermuda Liso       348.616927
Bermuda Listrado   348.289144
...                       ...
T칡nis Estampa      548.033613
T칡nis Linho        630.000000
T칡nis Liso         570.599369
T칡nis Listrado     566.923404
T칡nis Xadrez       542.086729

[120 rows x 1 columns]

In [13]:
# Mesclar tabela
gerentes_df = pd.read_excel('gdrive/My Drive/pandas/gerentes.xlsx')

vendas_df = vendas_df.merge(gerentes_df)
display(vendas_df)

        C칩digo Venda       Data  ... Valor Final   Gerente
0                  1 2019-01-01  ...         358  Salvador
1                  1 2019-01-01  ...         360  Salvador
2                  1 2019-01-01  ...         368  Salvador
3                 21 2019-01-02  ...         232  Salvador
4                 34 2019-01-02  ...         363  Salvador
...              ...        ...  ...         ...       ...
115172         69846 2019-12-25  ...         192    Mateus
115173         69846 2019-12-25  ...        1280    Mateus
115174         69850 2019-12-25  ...         708    Mateus
115175         69972 2019-12-26  ...        2160    Mateus
115176         69972 2019-12-26  ...        1790    Mateus

[115177 rows x 8 columns]